@import "variables";

.mainCard {
    margin: 10px;
    max-width: 300px;
    min-width: 300px;
    background-color: rgb(212, 211, 211);
    border-radius: 15px;
    font-weight: bold;
    height: 250px;
    position: relative;

    header h1 {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        padding: 30px 20px;
        background-color: rgb(186, 186, 186);
        border-radius: 15px 15px 0px 0px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }


}

.headicons {
    width: 100%;
    font-size: 35px;
    display: flex;
    gap: 35px;
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    justify-content: center;

    svg {
        background-color: $azulSecundario;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;

        &:hover {
            background-color: $azulSecundarioHover
        }
    }
}
