@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import "variables";
@import "functions";

::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

/* Track (parte de trás) da barra de rolagem */
::-webkit-scrollbar-track {
  background: #0b2335; /* Cor de fundo */
}

/* Thumb (parte da barra de rolagem que o usuário pode arrastar) */
::-webkit-scrollbar-thumb {
  background: #218bd1; /* Cor do indicador de rolagem */
  border-radius: 6px; /* Borda arredondada */
}

.ContainerButtonsTable {
  // background-color: red;
  height: 34.2vh;
  display: flex;
  align-items: center;
  gap: 20px;
  .buttonsPrevNext {
    gap: 20px;
    display: flex;
    flex-direction: column;
    button {
      display: flex;
      border: 1px solid white;
      padding: 9px;
      border-radius: 100%;
      background-color: $azulSecundario;
      &:hover {
        cursor: pointer;
        transition: 0.2s;
        background-color: $azulSecundarioHover;
      }
      svg {
        color: white;
        width: 25px;
        height: 100%;
      }
    }
  }
}

.HomeTableContainer {
  width: 1600px;
  max-width: 1400px;
  max-height: 100%;
  overflow: auto;

  @include centralizarConteudo();
  ul {
    // padding: 5px;
    background-color: $cinzaPadrao;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
    li {
      display: flex;
      justify-content: center;
      padding: 10px;
      text-align: center;
      border-top: 2px solid $cinzaPadrao;
      &:first-child {
        border-left: none;
      }
      select {
        display: flex;
        margin: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: $cinzaPadrao;
        outline: none;
        border: none;
        font-size: 15px;
        font-family: "Days One";
        @include centralizarConteudo();
        text-align: center;
        cursor: pointer;
        option{
          font-size: 18px;
          // padding: 50px;
          border: 10px solid gray;
          background-color: gray;
        }
      }
    }
  }
  .HeaderInformations {
    position: sticky;
    top: 0;
  }
  .SalesInformationHome {
    background-color: rgb(207, 203, 203);
  }
}
