@import "variables";
@import "functions";

.ProductRegisterBody {
    height: $alturaConteudo;
    background-color: red;
    display: flex;
    .ItemsList {
        background-color: #091d2b;
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        height: $alturaConteudo;
        overflow: auto;

        li {
            padding: 30px 150px;
            background-color: #f3f0f0;
            border-bottom: 2px solid #d4d4d4;
            cursor: pointer;
            &:hover {
                background-color: rgb(186, 180, 180);
            }
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 10px;
            background-color: #e1e1e1;
            h1 {
                font-size: 15px;
                padding: 10px 0px;
            }
        }
        .item {
            display: block;
            overflow: hidden;
            max-height: 0;
            padding: 0px;
            h1 {
                position: relative;
                transition: ease 0.5s;
                max-height: 0;
                opacity: 0;
            }
            &.active {
                transition: max-height 0.5s ease;
                max-height: 1000px;
                overflow: visible;
                h1 {
                    opacity: 1;
                    max-height: 1000px;
                }
            }
        }
    }
}


.ContainerForm {
    height: $alturaConteudo;
    background-color: red;
    display: flex;
    .Teste {
        background-color: #091d2b;
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        height: $alturaConteudo;
        overflow: auto;

        li {
            padding: 30px 150px;
            background-color: #f3f0f0;
            border-bottom: 2px solid #d4d4d4;
            cursor: pointer;
            &:hover {
                background-color: rgb(186, 180, 180);
            }
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 10px;
            background-color: #e1e1e1;
            h1 {
                font-size: 15px;
                padding: 10px 0px;
            }
        }
        .item {
            display: block;
            overflow: hidden;
            max-height: 0;
            padding: 0px;
            h1 {
                position: relative;
                transition: ease 0.5s;
                max-height: 0;
                opacity: 0;
            }
            &.active {
                transition: max-height 0.5s ease;
                max-height: 1000px;
                overflow: visible;
                h1 {
                    opacity: 1;
                    max-height: 1000px;
                }
            }
        }
    }
    .subProduct {
        background-color: rgb(26, 66, 103);
        overflow: auto;
        width: 100%;
        form {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            justify-content: center;

            align-content: flex-start;
            @include centralizarConteudo();
            height: 86vh;
            overflow: auto;
            input {
                width: 300px;
                height: 50px;
            }
            div {
                height: fit-content;
                display: flex;
                color: white;
                display: grid;
                input {
                    width: 300px;
                }
            }
        }
    }
}