@import "variables";
@import "functions";

.mainSection {
  display: flex;
  justify-content: center;
}

.cardSectionMain {
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  min-width: 600px;
  max-width: 600px;
  flex-direction: column;
  // flex-wrap: wrap;
  // justify-content: space-between;
}

.sectionItemsInputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.divButtonBuy {
  display: flex;
  justify-content: center;
}

.registerBuyButton {
  min-width: 400px;
  max-width: 400px;
  height: 50px;
  margin: 10px;
  border-radius: 50px;
  border: none;
  background: $azulEscuro;
  color: white;
  font-size: 25px;
  font-weight: 900;
}

.selectItems {
  padding: 10px;
}

.cardSection {
  padding: 10px;
  width: 250px;
}

.iconStyle {
  border: none;
  cursor: pointer;
  background: none;
  padding-top: 5px;
}

.inputLabelStyle {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    font-size: 20;
  }
}

.toggleStyle {
  display: flex;
  align-items: center;
}

.inputStyle {
  font-size: 18px;
  border-radius: 50px;
  border: none;
  background-color: $cinzaPadrao;
  padding: 5px;
  padding-left: 15px;
  
  &:focus {
    outline: 2px solid $azulSecundario;
  }
}